        project "FooTests"
               kind "ConsoleApp"
               language "C++"
               targetdir "bin/%{cfg.buildcfg}"

               files { "tests/unit-tests/foo-tests.cpp" }
               includedirs { "include" }

               links { "Foo", "gtest", "gtest_main" }

               filter "configurations:Debug"
                  defines { "DEBUG" }
                  symbols "On"

               filter "configurations:Release"
                  defines { "NDEBUG" }
                  optimize "On"
        
